@using SatelliteSite.Data.Match
@using SatelliteSite.Models
@using System.Linq;
@model List<(CodeModel, CodeModel)>

@{
    ViewData["Title"] = "CompareX";
    var myid = ViewBag.myid;
    List<Report> rep = ViewBag.Report;
    double Precent = 0;
}

@functions
{
    string cout(string s, int a, int b)
    {
        return s.Substring(a, b - a);
    }
}
<h1>Compare</h1>
<pre>
@foreach(var i in rep)
{
    Precent += i.SubmissionA == myid ? i.PercentA : i.PercentB; 
}
Precent:@Precent
</pre>
@foreach (var l in Model)
{
    <div class="container-fluid code-review">
        <div class="row">
            <div class="col-md-6">
                @l.Item1.Sid
                @foreach (var f in l.Item1.Files)
                {
                    @f.FilePath
                    String Con = f.Content;
                    int index = 0;
                    <figure class="highlight">
                        <pre><code class="language-html" data-lang="html">@foreach (var c in f.Code)
                        {<span class="@{
                             string tmp = "";
                             foreach (var s in c.Marks) { tmp+=" mark-" + s % 11; }
                             @tmp
                            }">@cout(Con, c.Begin, c.End)</span> index = c.End;}}</code></pre>
                    </figure>
                }
            </div>
            <div class="col-md-6">
                @l.Item2.Sid
                @foreach (var f in l.Item2.Files)
                {
                    @f.FilePath
                    String Con = f.Content;
                    int index = 0;
                    <figure class="highlight">
                        <pre><code class="language-html" data-lang="html">@foreach (var c in f.Code)
                        {<span class="@{
                             string tmp = "";
                             foreach (var s in c.Marks) { tmp+=" mark-" + s % 11; }
                             @tmp
                            }">@cout(Con, c.Begin, c.End)</span>index = c.End;}}</code></pre>
                    </figure>
                }
            </div>
        </div>
    </div>
}


@section Scripts {
    <style>
        .highlight {
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: #f8f9fa;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

            .highlight pre {
                padding: 0;
                margin-top: 0;
                margin-bottom: 0;
                background-color: transparent;
                border: 0;
                white-space: pre-wrap;
            }

                .highlight pre code {
                    font-size: inherit;
                    color: #212529;
                }

        .mark-0 {
            color: red;
            background: #ffeeee
        }

        .mark-1 {
            color: #ee2550;
            background: rgba(238,37,80,0.1);
        }

        .mark-2 {
            color: #6666a0;
            background: rgba(102,102,160,0.1);
        }

        .mark-3 {
            color: #dddd20;
            background: rgba(221,221,32,0.1);
        }

        .mark-4 {
            color: #ee10a0;
            background: rgba(238,16,160,0.1);
        }

        .mark-5 {
            color: #aa2050;
            background: rgba(170,32,80,0.1);
        }

        .mark-6 {
            color: #11eeee;
            background: rgba(17,238,238,0.1);
        }

        .mark-7 {
            color: #aa22cc;
            background: rgba(170,34,204,0.1);
        }

        .mark-8 {
            color: #008800;
            background: rgba(0,136,0,0.1);
        }

        .mark-9 {
            color: #2260ee;
            background: rgba(34,96,238,0.1);
        }

        .mark-10 {
            color: #982420;
            background: rgba(152,36,32,0.1);
        }
    </style>
}
