@using SatelliteSite.Data.Match;
@using System.Linq;
@{
    ViewData["Title"] = "Compare";
    var Content1 = ViewBag.Content1;
    var Content2 = ViewBag.Content2;
    var Result = ViewBag.Result;
    var MatchPairs = (List<MatchPair>)Result.MatchPairs;
}
@functions
{
    string cout(string s, int a, int b)
    {
        return s.Substring(a, b - a);
    }
}
<style>
    .xx {
        background-color: orangered;
    }
</style>
<h1>Compare</h1>
<pre>
@ViewBag.Result.Percent

<div class="container-fluid code-review">
    <div class="row">
        <div class="col-md-6">
            @Guid.NewGuid().ToString()
            <figure class="highlight">
                <pre><code class="language-html" data-lang="html">
                @{
                    int index = 0;
                    foreach (var i in MatchPairs)
                    {<span>@cout(Content1, index, i.ContentStartA)</span><span class="red">@cout(Content1, i.ContentStartA, i.ContentEndA)</span>
                        index = i.ContentEndA;
                    }<span>@cout(Content1, index, Content1.Length)</span>
                }</code></pre>
            </figure>
        </div>
        <div class="col-md-6">
            @Guid.NewGuid().ToString()
            <figure class="highlight">
                <pre><code class="language-html" data-lang="html">
                @{
                    index = 0;
                    foreach (var i in MatchPairs)
                    {<span>@cout(Content2, index, i.ContentStartB)</span><span class="red">@cout(Content2, i.ContentStartB, i.ContentEndB)</span>
                        index = i.ContentEndB;
                    }<span>@cout(Content2, index, Content2.Length)</span>
                }
                </code></pre>
            </figure>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        .highlight {
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: #f8f9fa;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

            .highlight pre {
                padding: 0;
                margin-top: 0;
                margin-bottom: 0;
                background-color: transparent;
                border: 0;
                white-space: pre-wrap;
            }

                .highlight pre code {
                    font-size: inherit;
                    color: #212529;
                }

        .red {
            color: red;
            background: #ffeeee
        }
    </style>
}
