@using SatelliteSite.Data.Match;
@using System.Linq;
@{
    ViewData["Title"] = "Compare";
    var Content1 = ViewBag.Content1;
    var Content2 = ViewBag.Content2;
    var Result = ViewBag.Result;
    var MatchPairs = (List<MatchPair>)Result.MatchPairs;
}
<style>
    .xx {
        background-color: orangered;
    }
</style>
<h1>Compare</h1>
<pre>
@ViewBag.Result.Percent
</pre>
<pre>
@{
    int x = 0;
    for (var i = 0; i < Content1.Length; i++)
    {
        if (x < MatchPairs.Count && i >= MatchPairs[x].ContentStartA && i < MatchPairs[x].ContentEndA)
        {
            if (i == MatchPairs[x].ContentEndA)
            {
                x++;
            }<span class="xx">@Content1[i]</span>}
        else
        {<span>@Content1[i]</span>}
    }
}
</pre>
<pre>
@{
    int y = 0;
    for (var i = 0; i < Content2.Length; i++)
    {
        if (y < MatchPairs.Count && i >= MatchPairs[y].ContentStartB && i < MatchPairs[y].ContentEndB)
        {
            if (i == MatchPairs[y].ContentEndB)
            {
                y++;
            }<span class="xx">@Content2[i]</span>}
        else
        {<span>@Content2[i]</span>}
    }
}
</pre>
